/*No AI used in this code either lmao except for stackoverflow*/

body{
	font-family: determination;
	color: white;
	background-color: black;
	text-align: center;
	font-size: 150%;
}

h1{
	font-weight: 100;
}

h2{
	font-weight: 100;
}

h3{
	font-weight: 100;
}

h4{
	font-weight: 100;
}

h6{
	font-weight: 100;
}

a{
	color: yellow;
}

a:hover{
	color: aqua;
}

button{
	border: solid 4px;
	padding: 4px;
	margin: 4px;
	color: white;
	text-decoration: none;
	display: inline-block;
	font-family: determination;
	background-color: black;
	font-size: 100%;
}

button:hover{
	color: yellow;
}

b{
	font-weight: 100;
	color: yellow;
}

iframe{
	border: solid 4px white;
	border-radius: 40px;
}

@font-face {
    font-family: 'determination';
    src: url("assets/determination.otf");
}

.linkSeperation a {
	display: block;
	margin-bottom: 20px;
}

.paragraph{
	max-width: 700px;
	margin: auto;
	text-align: center;
}

.wokeComuter{
	width: 180px;
	height: auto;
	border-radius: 90px;
}

.button{
	border: solid 4px;
	padding: 4px;
	margin: 4px;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.button:hover{
	background-color: white;
	color: black;
}

.button2{
	border: solid 4px;
	padding: 4px;
	margin: 4px;
	color: white;
	text-decoration: none;
	display: block;
	max-width: fit-content;
	margin: auto;
}

.button2Disabled{
	border: solid 4px;
	padding: 4px;
	margin: 4px;
	color: grey;
	text-decoration: none;
	display: block;
	max-width: fit-content;
	margin: auto;
}

.button2Disabled:hover{
	color: grey;
}

.button2:hover{
	color: yellow;
}

.button2yellow{
	border: solid 4px;
	padding: 4px;
	margin: 4px;
	color: yellow;
	text-decoration: none;
	display: block;
	max-width: fit-content;
	margin: auto;
}

.button2yellow:hover{
	color: aqua;
}

.scarf{
	width: 160px;
	height: auto;
}

.scarfColor{
	color: #EA33F7;
}

.yellow{
	color: yellow;
}

.happy{
	color: rgb(0, 255, 0);
}

.emptyArea {
  min-height: 200vh;
}

.notSoEmptyArea{
	min-height: 25vh;
}

.wallpaperPreview{
	border: solid 4px white;
	border-radius: 40px;
	width: 50%;
	height: auto;
	transition: all .2s;
}

.wallpaperPreview:hover{
	transform: scale(1.05);
}

.strawPage{
	border: solid 4px white;
	padding: 4px;
	margin: 4px;
	color: white;
	background-color: #df001d;
	text-decoration: none;
	display: inline-block;
	transition: all .2s;
}

.strawPage:hover{
	border-color: #df001d;
	color: #df001d;
	background-color: white;
}

.installerList{
	max-width: 900px;
	margin: auto;
}

.disabled{
	color: grey;
}

.disabled:hover{
	color: grey;
}

.saveButton{
	border: solid 4px white;
	padding: 4px;
	margin: 4px;
	color: yellow;
	text-decoration: none;
	display: inline-block;
	transition: all .2s;
}

.saveButton:hover{
	border-color: black;
	background-color: yellow;
	color: black;
}

.emoji{
	width: 20px;
	height: auto;
}

#other-downloads{
	margin-bottom: 10%;
}